@{
    ViewData["Title"] = "SignUp";

    string message = string.Empty;

    if (TempData["Success"] != null)
    {
        message = TempData["Success"].ToString();
    }
}

@model PasswordChangeViewModel
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="col-md-6 offset-md-3">
    <div class="row">
        <h3>Şifre Değiştir Formu</h3>

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

        <form method="post">
          
            <div class="mb-3">
                <label for="exampleInputPassword1" asp-for="OldPassword" class="form-label"></label>
                <input type="password" asp-for="OldPassword" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="OldPassword" class="text-danger"></span>

            </div>



            <div class="mb-3">
                <label for="exampleInputPassword3" asp-for="NewPassword" class="form-label"></label>
                <input type="password" asp-for="NewPassword" class="form-control" id="exampleInputPassword3">
                <span asp-validation-for="NewPassword" class="text-danger"></span>

            </div>

            <div class="mb-3">
                <label for="exampleInputPassword2" asp-for="ConfirmPassword" class="form-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="exampleInputPassword2">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>



            <button type="submit" class="btn btn-success">Parola Değiştir</button>

        </form>


    </div>
</div>


