@{
    ViewData["Title"] = "ResetPasswordViewModel";
    string message = string.Empty;

    if (TempData["Success"] != null)
    {
        message = TempData["Success"].ToString();
    }
}

@model ForgetPasswordViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="col-md-6 offset-md-3">
    <div class="row">
        <h5>Şifremi Unuttum </h5>
        @*<h5>Şifremi yenileme linki e-posta adresinize gönderilecektir. </h5>*@
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>

     
        <form method="post">

            <div class="mb-3">
                <label for="exampleInputEmail1" asp-for="Email" class="form-label"></label>
                <input value="levent.bilinmis@yandex.com" type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>


            <button type="submit" class="btn btn-success">Gönder</button>

        </form>


    </div>
</div>


