@if (User.Identity!.IsAuthenticated)
{
    <!-- Example single danger button -->
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.Name
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-action="LogOut" asp-controller="Member">Çıkış Yap</a></li>
            <li><a class="dropdown-item" asp-route-returnurl="/Home/Index/" asp-action="LogOut2" asp-controller="Member">2.Çıkış Yap</a></li>
            <li><a class="dropdown-item" asp-action="Index" asp-controller="Member">Üye Bilgileri</a></li>
            <li><a class="dropdown-item" asp-action="PasswordChange" asp-controller="Member">Parola Değiştir</a></li>
            <li><a class="dropdown-item" asp-action="UserEdit" asp-controller="Member">Profil Güncelle</a></li>
            <li><a class="dropdown-item" asp-action="Claims" asp-controller="Member">Claims</a></li>

            @{
                if (User.HasClaim(x=>x.Value=="Admin"))
                {
                    <li>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Dashboard</a>
                    </li>
                }
                //var claims = User.Claims.ToList();
               
            }

           
        </ul>
    </div>

}
else
{
    <a class="btn btn-outline-success mx-2" asp-controller="Home" asp-action="SignUp">Kayıt</a>
    <a class="btn btn-outline-success p-2" asp-controller="Home" asp-action="SignIn">Oturum Aç</a>
}